// COMPONENT TITLE

.component-title {
  padding: 4em 8em;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    padding: 0;
    color: #a0a0a0;
  }
}

// PLACE DETAILS

.place-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 600px));
  grid-gap: 100px;
  place-content: center;
  padding: 0 0 4em 0;
  max-width: 1800px;
  margin: 0 auto;

  p {
    margin: 0;
  }

  .place-card {
    display: grid;
    position: relative;
    background: white;
    border-radius: 40px;
    box-shadow: 6px 5px 15px 0px #d8d8d8;
    min-width: 500px;
    min-height: 200px;
    padding: 1.4em;

    .edit {
      grid-area: edit;
      position: absolute;
      right: 25px;
      top: 3px;

      p {
        font-size: 1rem;
        padding: .2rem .8rem;
        border: 1px solid #833ab4;
        border-radius: 13px;
        cursor: pointer;
        color: #833ab4;
      }
    }
  }

  .border-line {
    grid-area: border;
    height: 2px;
    background-color: #e8e8e8;
    margin-bottom: 40px;
  }


  .main-info {
    grid-template-areas:
      "category category edit"
      "name name googleID"
      "border border border"
      "bestfive web phone";
    align-items: center;
    height: 300px;

    p {
      font-size: 1.3rem;
      color: #585858;
      position: relative;
    }

    .category {
      grid-area: category;
      place-items: start;
      padding: 1rem 0 2.5rem 5rem;

      .category-icon {
        position: absolute;
        background: #f5f5f5;
        border-radius: 13px;
        width: 30px;
        height: 30px;
        top: 1.4rem;
        -webkit-transition: 250ms ease-in-out;
        transition: 250ms ease-in-out;
        padding: 10px;
        box-shadow: 3px 2px 10px 0 #d4d4d4;
        -webkit-box-shadow: 3px 2px 10px 0 #d4d4d4;
        position: absolute;
        left: 2rem;

        img {
          width: 30px;
        }
      }

      p {
        font-size: 1.6rem;
      }

      p:before {
        content: 'Category';
        font-size: 1rem;
        position: absolute;
        bottom: 2rem;
        color: #a9a9a9;
      }
    }

    .name {
      grid-area: name;
      padding: 1rem 0 2.5rem 1.1rem;


      p {
        font-size: 1.6rem;
      }

      p:before {
        content: 'Name';
        font-size: 1rem;
        position: absolute;
        bottom: 2rem;
        color: #a9a9a9;
      }
    }

    .bestfive {
      grid-area: bestfive;
      place-self: center;

      p:before {
        content: 'Bestfive';
        font-size: 1rem;
        position: absolute;
        bottom: 2rem;
        color: #a9a9a9;
      }

      img {
        width: 22px;
      }
    }

    .website {
      grid-area: web;
      place-self: center;

      p:before {
        content: 'Website';
        font-size: 1rem;
        position: absolute;
        bottom: 2rem;
        color: #a9a9a9;
      }
    }

    .phone {
      grid-area: phone;
      place-self: center;

      p:before {
        content: 'Phone';
        font-size: 1rem;
        position: absolute;
        bottom: 2rem;
        color: #a9a9a9;
      }
    }

    .google-id {
      grid-area: googleID;
      place-self: center;

      p:before {
        content: 'GoogleID';
        font-size: 1rem;
        position: absolute;
        bottom: 2rem;
        color: #a9a9a9;
      }
    }
  }

  .secondary-info {
    grid-template-areas:
      "price position edit"
      "border border border"
      "hours hours hours";
    align-items: center;
    height: 400px;

    .price {
      padding: 2em 0 1em 1em;
      grid-area: price;
      position: relative;

      .opacity {
        opacity: 0.5;
      }

      img {
        width: 20px;
      }

      p:before {
        content: 'Price';
        font-size: 1rem;
        position: absolute;
        bottom: 4rem;
        color: #a9a9a9;
      }
    }

    .position {
      grid-area: position;
      position: relative;
      padding: 2em 0 1em 1em;

      p {
        font-size: .9rem;
      }

      p:before {
        content: 'Position';
        font-size: 1rem;
        position: absolute;
        bottom: 4.5rem;
        color: #a9a9a9;
      }
    }

    .opening-hours {
      grid-area: hours;
      position: relative;
      padding-left: 1rem;

      &:before {
        content: 'Opening Hours';
        font-size: 1rem;
        position: absolute;
        top: -2rem;
        color: #a9a9a9;
      }

      .hours {
        display: grid;

        h5 {
          font-size: 1rem;
          width: 60px;
        }

        .row-hours {
          display: inline-flex;
          padding: .3rem;
        }
      }
    }


  }



  .images {
    grid-template-areas:
      "image edit";
    grid-template-columns: 1fr;

    .image {
      grid-area: image;
      place-self: center;

      p {
        font-size: 1.4rem;
      }

    }
  }

  .description {
    grid-template-areas:
      "text edit";
    grid-template-columns: 1fr;

    .defualt-description {
      font-size: 1.4rem;
      place-self: center;
    }

    .text {
      grid-area: text;
      place-self: center;

      p {
        position: relative;

        &::before {
          content: '\201C';
          position: absolute;
          font-size: 10em;
          color: #833ab4;
          top: -.4em;
          left: -.2em;
          opacity: 0.2;
        }
      }
    }
  }
}

// TABLE 
.table-container {
  padding: 2em;
  max-width: 1300px;
  margin: 0 auto 10em auto;
  display: grid;
  display: grid;
  position: relative;
  background: white;
  border-radius: 40px;
  box-shadow: 6px 5px 15px 0px #d8d8d8;

  .search {
    padding: 1em;
    place-self: end;

    label {
      padding-right: .4em;
    }

    input,
    textarea {
      padding: .3em .5em;
      outline: none;
      color: #484848;
      font-size: .8rem;
      border: 1px solid #e7e7e7;
      border-radius: 10px;
      transition: background-color 50ms ease-in-out;

      &:focus {
        background-color: #e7e7e7;
        color: #484848;
      }
    }
  }

  .table-content {
    border-collapse: collapse;
    font-size: 1em;
    min-width: 400px;
    text-align: left;

    thead tr {
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #52545e;
      background-color: #e6e6e654;

      th {
        padding: 20px 10px;
        min-width: 100px;
        width: 14.28%;
      }
    }

    tbody {
      td {
        padding: 20px 10px;
        width: 14.28%;
      }

      .bestfive-list {
        img {
          width: 30px;
        }
      }
    }

    tr {
      border-top: 1px solid #e6e6e6;
      padding: 15px;

      &:hover {
        background-color: #f5f8fc;
      }
    }

    .td-hours:hover {
      .opening-hours {
        transform: scale(1);
      }
    }

    .opening-hours {
      position: absolute;
      transform: scale(0);
      background-color: whitesmoke;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      transition: transform ease-out 150ms, bottom ease-out 150ms;
      padding: 20px 10px;
      width: 200px;

      h5 {
        margin: 0 auto;
      }

      p {
        padding: 5px 0;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  a[data-tool-tip] {
    position: relative;
  }

  a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    position: absolute;
    background-color: whitesmoke;
    padding: 1em 3em;
    color: #4f555b;
    border-radius: 5px;
    font-size: 0.8em;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms, bottom ease-out 150ms;
  }

  a[data-tool-tip]:hover::after {
    transform: scale(1);
  }
}