.navbar-container {
  background: white;

  img {
    transition: background 100ms ease-in-out;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0;

    li {
      list-style-type: none;
      margin: 0px 40px;
    }
  }

  .dashboard-nav {
    position: relative;

    &:hover img {
      background: #9075e42e;
    }

    a {
      color: #9075e4;
    }
  }

  .add-place-nav {
    position: relative;

    &:hover img {
      background: #de87162e;
    }

    a {
      color: #de8716;
    }
  }

  .faq-nav {
    position: relative;

    &:hover img {
      background: #d844c92e;
    }

    a {
      color: #d844c9;
    }
  }

  .icon {
    position: absolute;
    left: -3.4rem;
    top: 6px;

    img {
      width: 30px;
      border-radius: 50%;
      padding: 1;
      padding: 10px;
    }
  }

  a {
    text-decoration: none;
    color: #484848;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .logo {
    font-weight: 600;
    margin-right: auto;
    padding-bottom: 10px;

    img {
      width: 60px;
      position: relative;
      left: 1;
      top: 8px;
    }

    a {
      color: #833ab4;
      font-size: 2.2rem;
    }
  }

  .logout {
    cursor: pointer;
    &:hover img {
      background: #e2e2e2;
    }

    img {
      width: 30px;
      position: relative;
      padding: 10px;
      top: 2px;
      border-radius: 50%;
    }
  }
}
